.dark-primary-color {
  background: #1976d2;
}

.default-primary-color {
  background: #2196f3;
}

.light-primary-color {
  background: #bbdefb;
}

.text-primary-color {
  color: #fff;
}

.accent-color {
  background: #ff5252;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  border-color: #bdbdbd;
}

@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400');

.brand-logo {
  font-family: Catamaran, sans-serif;
  font-weight: 300;
}

.material-icons {
  color: rgba(33, 150, 243, 1);
}

.input-field label {
  color: #000;
}

.input-field input[type='text']:focus + label {
  color: #bbdefb;
}

textarea:focus {
  border-bottom: 1px solid #bbdefb;
  -webkit-box-shadow: 0 1px 0 0 orange;
  -moz-box-shadow: 0 1px 0 0 orange;
  box-shadow: 0 1px 0 0 orange;
}

#find-rep .btn-large {
  background-color: #ff5252;
}

.card.horizontal .card-image.rep-photo img {
  width: 13rem;
}

.card .card-action .link .see-bill a {
  color: #2196f3;
  float: right;
}
