.dark-primary-color {
  background: #1976d2;
}

.default-primary-color {
  background: #2196f3;
}

.light-primary-color {
  background: #bbdefb;
}

.text-primary-color {
  color: #fff;
}

.accent-color {
  background: #ff5252;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  border-color: #bdbdbd;
}

@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400');

.brand-logo {
  font-family: Catamaran, sans-serif;
  font-weight: 300;
}

.material-icons {
  color: rgba(33, 150, 243, 1);
}

.input-field label {
  color: #000;
}

.input-field input[type='text']:focus + label {
  color: #bbdefb;
}

.input-field input[type='text']:focus {
  border-bottom: 1px solid #bbdefb;
  box-shadow: 0 1px 0 0 #bbdefb;
}

#find-rep .btn-large {
  background-color: #ff5252;
}

.rep-photo {
  width: 225px;
}

.card .card-action .see-bill {
  color: #2196f3;
}
